.dashboard-container {
  display: flex;
  flex-direction: row;
  .siderbar {
    width: 500px;
    margin: 0;

    // background-color: green;
    .btn {
      margin-top: 20px;
    }
  }
  table {
    .btn-space {
      display: flex;
      flex-direction: column;
      font-size: 12px;
      .display-block {
        display: block;
      }
    }
  }
}