<div class="dashboard-container">

  <form [formGroup]="form" class="siderbar card" (ngSubmit)="filter()">
    <h2>Filter</h2>
    <div class="form-control">
      <label for="local">Lokal:</label>
      <select id="local" formControlName="local">
        <option *ngFor="let local of listLocals; let idx = index" value="{{idx}}">{{ local }}</option>
      </select>
    </div>
    <div class="form-control">
      <label for="date-from">Od:</label>
      <input id="date-from" type="date" formControlName="dateFrom" [max]="dateNow | date: 'YYYY-MM-dd'">
    </div>
    <div class="form-control">
      <label for="date-to">Do:</label>
      <input id="date-to" type="date" formControlName="dateTo" [max]="dateNow | date: 'YYYY-MM-dd'">
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="form.invalid"
    >
      Zatwierdź
    </button>
  </form>

  <table>
    <thead>
      <th>#</th>
      <th>Nazwa</th>
      <th>Data</th>
      <th>Godzina</th>
      <th>Użytkownik</th>
      <th>Lokal</th>
      <th></th>
    </thead>
    <tbody *ngIf="records.length; else loading">
      <tr *ngFor="let record of records; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ record.title }}</td>
        <td>{{ record.date | date: 'YYYY-MM-dd'}}</td>
        <td>{{ record.date | date: 'hh:mm'}}</td>
        <td>{{ record.username }}</td>
        <td>{{ listLocals[+record.local] }}</td>
        <td class="btn-space">
          <a class="display-block text-dark">Edytować</a>
          <a class="display-block" (click)="remove(record.id)">Usunąć</a>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #loading>
    <p class="text-center">Ładowanie...</p>
  </ng-template>

</div>