<div class="dashboard-container">

  <form class="siderbar card">
    <h2>Filter</h2>
    <div class="form-control">
      <label for="lokal">Lokal:</label>
      <select id="lokal">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>
    <div class="form-control">
      <label for="date-from">Od:</label>
      <input id="date-from" type="date">
    </div>
    <div class="form-control">
      <label for="date-to">Do:</label>
      <input id="date-to" type="date">
    </div>

    <button
      type="submit"
      class="btn btn-primary"
    >
      Zatwierdź
    </button>
  </form>

  <table>
    <thead>
      <th>#</th>
      <th>Nazwa</th>
      <th>Data</th>
      <th>Godzina</th>
      <th>Użytkownik</th>
      <th>Lokal</th>
    </thead>
    <tbody>
      <tr *ngFor="let record of records; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ record.title }}</td>
        <td>{{ record.date | date: 'YYYY-MM-dd'}}</td>
        <td>{{ record.date | date: 'hh:mm'}}</td>
        <td>{{ record.username }}</td>
        <td>{{ listLocals[+record.local] }}</td>
      </tr>
    </tbody>
  </table>

</div>